@model HockeyPlayers.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.currentTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonPlayerStats)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Games Played</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Points</th>
                </tr>
                @foreach (var item in Model.SeasonPlayerStats)
                {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.Season.DisplaySeason)
                         </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Team)
                         </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.GamesPlayed)
                         </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                         </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Assists)
                         </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Points)
                         </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
