@model HockeyPlayers.Models.Season

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayStartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Champion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Champion)
        </dd>
        <dt>
            Players
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Games Played</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Points</th>
                </tr>
                @foreach (var item in Model.SeasonPlayerStats)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Player.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamesPlayed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assists)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeasonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
